openapi: 3.1.0
info:
  version: 1.0.0
  title: Reloadly
  termsOfService: 'https://www.reloadly.com/terms-of-use'
  contact:
    email: support@reloadly.com
    url: 'https://www.reloadly.com/'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: Authentication
    description: Reloadly uses access tokens ( or bearer tokens ) to authenticate requests and grant access to our APIs. Access tokens differ across our various products. This means that you can only use an access token generated for the airtime service on the Airtime API, the same goes for other products. <br><br> Also, Reloadly has two operating environments - **Production** which allows you work with live credentials while building real world applications and **Sandbox** which helps you access our APIs in test mode and simulate real-like scenarios. Below is a table that shows the server URL for each of Reloadly's products. <br><br> <table><thead><tr><th>Product</th><th>Environment</th><th>Service URL</th></tr></thead><tbody><tr><td>Airtime</td><td>Production</td><td>https://topups.reloadly.com</td></tr><tr><td></td><td>Sandbox</td><td>https://topups-sandbox.reloadly.com</td></tr><tr><td>Number Lookup</td><td>Production</td><td>https://topups.reloadly.com</td></tr><tr><td></td><td>Sandbox</td><td>https://topups-sandbox.reloadly.com</td></tr><tr><td>Giftcards</td><td>Production</td><td>https://giftcards.reloadly.com</td></tr><tr><td></td><td>Sandbox</td><td>https://giftcards-sandbox.reloadly.com</td></tr><tr><td>Utility Payments</td><td>Production</td><td>https://utilities.reloadly.com</td></tr><tr><td></td><td>Sandbox</td><td>https://utilities-sandbox.reloadly.com</td></tr></tbody></table> <br><br> To get an access token, first obtain your **client id** and **client secret** from the <a href="https://www.reloadly.com/">Reloadly dashboard</a>. Then make a **POST** request with the payload format provided in the code sample section.    
  - name: Airtime
    description: Making an airtime top-up comes in handy for different applications - personal and businesslike. Reloadly's Airtime API handles these use cases by providing endpoints that grant you access to over 700 operators in more than 140 countries. <br> <br> With this outreach, you can send airtime and also subscribe to data bundles in different currencies. The most important data you will need to send airtime successfully is the recipient's mobile number. <br> <br> <blockquote style="font-size:16px; padding:30px 15px; color:#000000; background:rgba(212, 31, 28, 0.07); border-radius:5px">To avoid any authentication errors, ensure you are working with the right access token for the Airtime product. You can find out more details in the <a href="https://docs.reloadly.com/tag/Authentication">Authentication</a> section.</blockquote>
  - name: Number Lookup
    description: Reloadly offers a mobile number portability lookup service that enables you to retrieve the network operator details of a mobile number. <br> <br> There is a rising trend where mobile numbers are ported to a different network operator. The carrier lookup service reveals the current network operator of these numbers and optimizes their routes for actions like calls, SMS, and data bundles. <br> <br> This service allows a user to retrieve details of a mobile number regardless of whether it has been ported. The user may make an **HTTP**  **GET** or **POST** request to retrieve the details of the mobile number. <br> <br> <blockquote  style="padding:15px; background:#f2f2f2; border-radius:5px"> Reloadly has an open-source library used to format, parse, and validate the authenticity of an international phone number. You can check it out <a href="https://github.com/google/libphonenumber">here on GitHub</a></blockquote>. <br> <br> <blockquote style="padding:15px; background:#f2f2f2; border-radius:5px"> Do note that this is a **PAID** service. As such, there is a pricing schedule attached to this service. You can find more details on the pricing through <a href="https://www.reloadly.com" target=__blank__>your dashboard</a>. Alternatively, if you have any questions, you can always reach out to us via our <a href="https://join.slack.com/t/reloadly-developers/shared_invite/zt-qflikche-fwiFA5Sxtst2mXzvJBPO3w">developer community</a></blockquote>. <br> <br> <blockquote style="font-size:16px; padding:30px 15px; color:#000000; background:rgba(212, 31, 28, 0.07); border-radius:5px">To avoid any authentication errors, ensure you are working with the right access token for the Number Lookup product. You can find out more details in the <a href="https://docs.reloadly.com/tag/Authentication">Authentication</a> section.</blockquote>
  - name: Gift Cards
    description: Gift cards are an awesome way to send and receive value in a digital economy that is fast becoming the future. Reloadly's Gift Card API connects you to over 200 gift card brands and 13000 gift card products that can be used both locally and internationally across 140+ countries. <br> <br> This enables you to purchase gift cards for both commercial and personal reasons. Some of the data you will need are your access token and the brand details of the gift card. <br> <br> <blockquote style="font-size:16px; padding:30px 15px; color:#000000; background:rgba(212, 31, 28, 0.07); border-radius:5px">To avoid any authentication errors, ensure you are working with the right access token for the Gift Cards product. You can find out more details in the <a href="https://docs.reloadly.com/tag/Authentication">Authentication</a> section.</blockquote>
  - name: Utility Payments
    description: Utilities like Electricity, Water, TV and Internet are essential services that are provided by utility companies servicing your local region. These services are usually postpaid or prepaid. <br> <br> Reloadly's Utility Payments API provides you the capability to pay a growing number of service providers in multiple markets. An application developer can easily integrate with Reloadly's Utility Payments API and start accepting payments from end users. Payments are routed to the utility company in real-time via Reloadly's scalable network. You can either pay to local utility companies, or pay for cross-border companies. You don't need to deal with cumbersome paperwork or contracts since we have made this easy for you. <br> <br> Irrespective of the destination utility company, Reloadly's customers are completely abstracted away of the underlying heterogeneity and complexities involved in integrating with utility companies. We have already done the hard work of integration so that you don't have to. <br> <br> <blockquote style="font-size:16px; padding:30px 15px; color:#000000; background:rgba(212, 31, 28, 0.07); border-radius:5px">To avoid any authentication errors, ensure you are working with the right access token for the Utility Payments product. You can find out more details in the <a href="https://docs.reloadly.com/tag/Authentication">Authentication</a> section.</blockquote>
      
components:
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer

security:
  - BearerToken: [] 
  
servers:
  - url: https://auth.reloadly.com
  
paths:
  /oauth/token:
    $ref: 
        paths/access-token.yaml
    servers:
      - url: https://auth.reloadly.com
  /accounts/balance:
    $ref: paths/airtime-accounts-balance.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Airtime Production
      - url: https://topups-sandbox.reloadly.com
        description: Airtime Sandbox
      
  /countries:
    $ref: paths/airtime-get-all-countries.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /countries/{countrycode}:
    $ref: paths/airtime-get-country-by-iso.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /operators:
    $ref: paths/airtime-get-all-operators.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /operators/{operatorid}:
    $ref: paths/airtime-get-operator-by-id.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /operators/auto-detect/phone/{phone}/countries/{countryisocode}:
    $ref: paths/airtime-auto-detect-an-operator.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /operators/countries/{countrycode}:
    $ref: paths/airtime-get-operator-by-iso.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /operators/fx-rate:
    $ref: paths/airtime-fx-rate.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /operators/commissions:
    $ref: paths/airtime-get-all-commissions.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /operators/{operatorid}/commissions:
    $ref: paths/airtime-get-commission-by-id.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /promotions:
    $ref: paths/airtime-get-all-promotions.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /promotions/{promotionid}:
    $ref: paths/airtime-get-promotion-by-id.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /promotions/country-codes/{countrycode}:
    $ref: paths/airtime-get-promotion-by-iso.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /promotions/operators/{operatorid}:
    $ref: paths/airtime-get-promotion-by-operator-id.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /topups:
    $ref: paths/airtime-top-ups.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /topups-async:
    $ref: paths/airtime-top-ups-async.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /topups/{transactionId}/status:
    $ref: paths/airtime-top-ups-status.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /topups/reports/transactions:
    $ref: paths/airtime-get-all-transactions.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /topups/reports/transactions/{transactionId}:
    $ref: paths/airtime-get-transaction-by-id.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  
  /operators/mnp-lookup/phone/{phone}/countries/{countryCode}:
    $ref: paths/number-lookup-get.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox
  /mnp-lookup/operators:
    $ref: paths/number-lookup-post.yaml
    servers:
      - url: https://topups.reloadly.com
        description: Production
      - url: https://topups-sandbox.reloadly.com
        description: Sandbox        

  /products:
    $ref: paths/giftcards-get-all-products.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /products/{productid}:
    $ref: paths/giftcards-get-product-by-id.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /countries/{countrycode}/products:
    $ref: paths/giftcards-get-product-by-iso.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /redeem-instructions:
    $ref: paths/giftcards-get-all-redeem-instructions.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /redeem-instructions/{brandId}:
    $ref: paths/giftcards-get-redeem-instructions-by-brand-id.yaml   
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /discounts:
    $ref: paths/giftcards-get-all-discounts.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /products/{productId}/discounts:
    $ref: paths/giftcards-get-discount-by-product-id.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /reports/transactions:
    $ref: paths/giftcards-get-all-transactions.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /reports/transactions/{transactionId}:
    $ref: paths/giftcards-get-transaction-by-id.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /orders:
    $ref: paths/giftcards-order-a-gift-card.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
  /orders/transactions/{transactionId}/cards:
    $ref: paths/giftcards-get-a-redeem-code.yaml
    servers:
      - url: https://giftcards.reloadly.com
        description: Production
      - url: https://giftcards-sandbox.reloadly.com
        description: Sandbox
          
  /billers:
    $ref: paths/utility-payments-get-all-billers.yaml
    servers:
      - url: https://utilities.reloadly.com
        description: Production
      - url: https://utilities-sandbox.reloadly.com
        description: Sandbox
  /pay:
    $ref: paths/utility-payments-pay-bill.yaml
    servers:
      - url: https://utilities.reloadly.com
        description: Production
      - url: https://utilities-sandbox.reloadly.com
        description: Sandbox
  /transactions:
    $ref: paths/utility-payments-get-all-transactions.yaml
    servers:
      - url: https://utilities.reloadly.com
        description: Production
      - url: https://utilities-sandbox.reloadly.com
        description: Sandbox
  /transaction/{id}:
    $ref: paths/utility-payments-get-transaction-by-id.yaml
    servers:
      - url: https://utilities.reloadly.com
        description: Production
      - url: https://utilities-sandbox.reloadly.com
        description: Sandbox